<template>
  <q-layout
    ref="layout"
    view="lHh Lpr lfr"
  >
    <!-- Toolbar in layout -->
    <q-toolbar slot='header' class='glossy'>
      <q-btn flat @click="$refs.layout.toggleLeft()">
        <q-icon name="menu" />
      </q-btn>
      <q-toolbar-title>
        My Diary
      </q-toolbar-title>
    </q-toolbar>

    <!-- The left menu -->
    <div slot="left">
    <q-list no-border link inset-separator>
      <q-item>
        <q-item-side avatar='https://scontent.fjpa1-1.fna.fbcdn.net/v/t1.0-0/c66.153.394.394/p526x296/12049466_903500696395979_99177430169038907_n.jpg?oh=fcf7f6d5f638834c9d7c1f5046555d6b&oe=5AF77BFD' />
        <q-item-main>
          <q-item-tile label>Marcelo Ferreira</q-item-tile>
          <q-item-tile sublabel>Administrador</q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header>Diary</q-list-header>
      <q-side-link item to="/records" exact>
        <q-item-side icon="school" />
        <q-item-main label="Records" sublabel="My records list" />
      </q-side-link>
      <q-side-link item to="/records/new">
        <q-item-side icon="school" />
        <q-item-main label="New record" sublabel="Let me write a new record" />
      </q-side-link>
    </q-list>
    </div>

    <div id="q-app">
      <router-view />
    </div>
  </q-layout>
</template>

<script>
import {
  QLayout,
  QToolbar,
  QToolbarTitle,
  QBtn,
  QIcon,
  QList,
  QListHeader,
  QSideLink,
  QItemSide,
  QItemMain,
  QItem,
  QItemTile
} from 'quasar'

export default {
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QList,
    QListHeader,
    QSideLink,
    QItemSide,
    QItemMain,
    QItem,
    QItemTile
  }
}
</script>

<style></style>
