<template>
  <div>
    My Home Page
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {}
  }
}
</script>

<style lang="stylus">
.logo-container
  width 255px
  height 242px
  perspective 800px
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
.logo
  position absolute
  transform-style preserve-3d
</style>
