<template>
  <div>
    <!-- Solution without a vuex or data manager -->
    <div v-if='detail'>
      <q-btn @click="$router.push({name: 'records'})">Voltar</q-btn>
      <q-btn @click="detail=false">Editar</q-btn>
      <q-btn @click="handleDelete">Deletar</q-btn>
      <record-detail :record='record' />
    </div>
    <div v-else>
      <h2>Edit this record</h2>
      <record-form :record='record' v-on:changed='handleData' />
      <q-btn @click="detail=true"/>
    </div>
  </div>
</template>

<script>

import RecordDetail from './RecordDetail'
import RecordForm from './RecordForm'
import { QChip, QBtn, Dialog, Toast } from 'quasar'

export default {
  components: {
    QChip,
    QBtn,
    'record-detail': RecordDetail,
    'record-form': RecordForm
  },
  data () {
    return {
      record: {keywords: []},
      detail: true
    }
  },
  methods: {
    handleData: function (data) {
      this.record = data
      this.detail = true
    },
    handleDelete: function () {
      const vm = this
      Dialog.create({
        title: 'Confirmation',
        message: 'Are you sure about the deletation? this action can\'t be' +
        'undone.',
        buttons: [
          {
            label: 'Cancel',
            handler () {
              Toast.create('Canceled...')
            }
          },
          {
            label: 'Confirm',
            handler () {
              fetch('http://localhost:3000/records/' + vm.$route.params.id,
                {method: 'delete'})
                .then((r) => r.json())
                .then(() => vm.$router.replace({name: 'records'}))
              Toast.create('Register excluded')
            }
          }
        ]
      })
    }
  },
  created: function () {
    fetch('http://localhost:3000/records/' + this.$route.params.id)
      .then(
        (r) => r.json()
      ).then(this.handleData)
  }
}
</script>

<style>
</style>
