<template>
  <record-form v-on:changed='goForward' />
</template>

<script>
import RecordForm from './RecordForm'
export default {
  components: {
    'record-form': RecordForm
  },
  data () {
    return {}
  },
  methods: {
    goForward: function (data) {
      this.$router.push({name: 'record', params: {id: data.id}})
    }
  }
}
</script>

<style>
</style>
