<template>
  <div>
    <h2>{{detailRecord.title}}</h2>
    <span class='thin-paragraph'>{{detailRecord.created_at}}</span>
    <div class="row">
      <span class='token round-borders uppercase spacing' v-for='tag in detailRecord.keywords' :key='tag'>
        {{ tag }}
      </span>
    </div>
    <div class='abstract caption text-justify shadow-1'>
      {{detailRecord.abstract}}
    </div>
    <div>
      <h4>Content</h4>
      {{ detailRecord.body }}
    </div>

  </div>
</template>

<script>
import { QChip } from 'quasar'

export default {
  data () {
    return {
      detailRecord: JSON.parse(JSON.stringify(this.record))
    }
  },
  components: {
    QChip
  },
  props: {
    record: {
      default: function () { return {keywords: []} },
      type: Object
    }
  },
  watch: {
    record: function () {
      this.detailRecord = JSON.parse(JSON.stringify(this.record))
    }
  }
}
</script>

<style>
.spacing {
  margin-left: 5px;
}
.spacing:first-child {
  margin-left: inherit;
}
.abstract {
  margin: 15px 5% 0% 5%;
}
</style>
