<template>
  <div>
    <h2>My personal records</h2>

    <q-list v-if='records.length'>
      <q-item
        v-for='record in records'
        v-touch-hold='handleHold'
        :key='record.id'
        inset-separator>
        <q-item-main>
          <q-item-tile label>{{ record.title }}</q-item-tile>
        </q-item-main>
        <q-item-side right>
          <q-item-tile> {{ record.created_at }} </q-item-tile>
        </q-item-side>
      </q-item>
    </q-list>
  </div>
</template>

<script>

import { QBtn, QIcon, QInput,
  QList,
  QItem,
  QItemSide,
  QItemTile,
  QItemMain,
  QItemSeparator, TouchHold } from 'quasar'

export default {
  components: {
    QBtn,
    QIcon,
    QInput,
    QList,
    QItem,
    QItemSide,
    QItemTile,
    QItemMain,
    QItemSeparator
  },
  directives: {TouchHold},
  data () {
    return {
      id: 0,
      records: [],
      message: ''
    }
  },
  created: function () {
    this.id = 1
    fetch('http://localhost:3000/records?user=' + this.id)
      .then(
        (r) => r.json()
      ).then(this.handleData)
  },
  methods: {
    handleData: function (data) {
      if (data.length) {
        this.records = data
      }
      else {
        this.message = 'No data for this user'
        this.records = []
      }
    },
    handleHold: function (event, position, time) {
      if (time > 200) {
        console.log('holding')
      }
      else {
        this.$router.push({name: 'record', params: {id: 1}})
      }
    }
  }
}
</script>

<style>
</style>
