<template>
  <div>
    <q-input v-model="recordForm.id" class='hidden'/>

    <q-field :count="50" >
      <q-input float-label='Title' v-model="recordForm.title" />
    </q-field>

    <q-field :count="1000" >
      <q-input
        v-model="recordForm.abstract"
        help="Add some abstract to your record"
        type="textarea"
        float-label="Abstract"
        :max-height="200"
      />
    </q-field>

    <q-field :count="1000" >
      <q-input
        v-model="recordForm.body"
        type="textarea"
        float-label="Text content"
        :max-height="200"
      />
    </q-field>

    <q-field :count='5' helper='Add some keywords' >
      <q-chips-input v-model="recordForm.keywords" />
    </q-field>

    <q-btn loader icon="create" @click='onSubmit' >Save</q-btn>
  </div>
</template>

<script>
import {
  QField,
  QInput,
  QChipsInput,
  QBtn
} from 'quasar'

export default {
  data () {
    const data = JSON.parse(JSON.stringify(this.record))
    data.user = 1
    return {
      recordForm: data
    }
  },
  components: {
    QField,
    QInput,
    QChipsInput,
    QBtn
  },
  props: {
    record: {
      default: function () { return {keywords: []} },
      type: Object
    }
  },
  methods: {
    onSubmit: function (event, done) {
      const id = this.recordForm.id

      // Add this if because has no BACKEND
      if (!id) {
        this.recordForm.created_at = new Date().toISOString()
      }

      // Single form to update and create
      const path = '/records/' + (id ? id + '/' : '')
      const method = id ? 'PUT' : 'POST'

      const data = JSON.stringify(this.recordForm)

      fetch('http://localhost:3000' + path, {
        method: method,
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      }).then(r => {
        done()
        return r.json()
      }).then(data => this.$emit('changed', data))
    }
  },
  watch: {
    record: function () {
      const data = JSON.parse(JSON.stringify(this.record))
      this.recordForm = data
    }
  }
}
</script>

<style>
</style>
